{
  "extends": "airbnb",
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": "off",
    "react/jsx-filename-extension": "off",
    "no-useless-constructor": "off",
    "react/prefer-stateless-function": "off"
  }
}