body {
    font-family: "Arial Black", Georgia, "Franklin Gothic Medium";
}

.header {
    background-color: darkslategray;
    padding: 1rem;
    font-size: large;
}

.customerInfo {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
}

#slidecontainer {
    width: 100%;
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: silver;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: darkgreen;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: green;
    cursor: pointer;
}

/* label max */
.max{
    position: absolute;
    top: 1.7rem;
    right: 0.5rem;
    font-size: 0.8rem;
    color: dimgrey;
}

/*label min */
.min{
    position: absolute;
    top: 1.7rem;
    left: 0.5rem;
    font-size: 0.8rem;
    color: dimgrey;
}

